i18n/templates/index.html
python_variable_annotations/__pycache__/4-define_variables.cpython-38.pyc
i18n/templates/index.html
Basic_authentication/SimpleAPI/README.md
Basic_authentication/SimpleAPI/requirements.txt
Basic_authentication/SimpleAPI/api/__init__.py
Basic_authentication/SimpleAPI/api/.DS_Store
Basic_authentication/SimpleAPI/api/v1/__init__.py
Basic_authentication/SimpleAPI/api/v1/app.py
Basic_authentication/SimpleAPI/api/v1/views/__init__.py
Basic_authentication/SimpleAPI/api/v1/views/.DS_Store
Basic_authentication/SimpleAPI/api/v1/views/index.py
Basic_authentication/SimpleAPI/api/v1/views/users.py
Basic_authentication/SimpleAPI/models/__init__.py
Basic_authentication/SimpleAPI/models/.DS_Store
Basic_authentication/SimpleAPI/models/base.py
Basic_authentication/SimpleAPI/models/user.py
Basic_authentication/api/.DS_Store
Basic_authentication/api/__pycache__/__init__.cpython-38.pyc
Basic_authentication/api/v1/.DS_Store
Basic_authentication/api/v1/__pycache__/__init__.cpython-38.pyc
Basic_authentication/api/v1/__pycache__/app.cpython-38.pyc
Basic_authentication/api/v1/auth/main_0.py
Basic_authentication/api/v1/auth/main_1.py
Basic_authentication/api/v1/views/.DS_Store
Basic_authentication/api/v1/views/__pycache__/__init__.cpython-38.pyc
Basic_authentication/api/v1/views/__pycache__/index.cpython-38.pyc
Basic_authentication/api/v1/views/__pycache__/users.cpython-38.pyc
Basic_authentication/models/.DS_Store
Basic_authentication/models/main_0.py
Basic_authentication/models/__pycache__/__init__.cpython-38.pyc
Basic_authentication/models/__pycache__/base.cpython-38.pyc
Basic_authentication/models/__pycache__/user.cpython-38.pyc
